<div class="wrapper">

    <div class="header">
        <img id="headerimg" src="../../../assets/images/about-header.20e73a8beed0445241e8.png">

        <div class="headercontent">
            <p id="headerpara">News and tutorials</p>
            <hr id="headerhr">
        </div>

    </div>


    <div class="news-timeline">
<div class="row">
        <!-- card -->
        <div class="card">
            <img id="cardimg" src="https://maptracker-54ca5.web.app/assets/news-card.png">
            <div class="card-content">
                <p id="date">Nov 18, 2020</p>
                <h2>Application of the convention on administrative assistance</h2>
                <p id="desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa
                </p>
                <a href="" id="readmorebtn">Read more ></a>
            </div>
        </div>

        
        <!-- card -->
        <div class="card">
            <img id="cardimg" src="https://maptracker-54ca5.web.app/assets/news-card.png">
            <div class="card-content">
                <p id="date">Nov 18, 2020</p>
                <h2>Application of the convention on administrative assistance</h2>
                <p id="desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa
                </p>
                <a href="" id="readmorebtn">Read more ></a>
            </div>
        </div>

        <!-- card -->
        <div class="card">
            <img id="cardimg" src="https://maptracker-54ca5.web.app/assets/news-card.png">
            <div class="card-content">
                <p id="date">Nov 18, 2020</p>
                <h2>Application of the convention on administrative assistance</h2>
                <p id="desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa
                </p>
                <a href="" id="readmorebtn">Read more ></a>
            </div>
        </div>
    </div>
   

<div class="row">
        <!-- card -->

        <div class="card">
            <img id="cardimg" src="https://maptracker-54ca5.web.app/assets/news-card.png">
            <div class="card-content">
                <p id="date">Nov 18, 2020</p>
                <h2>Application of the convention on administrative assistance</h2>
                <p id="desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa
                </p>
                <a href="" id="readmorebtn">Read more ></a>
            </div>
        </div>

        <!-- card -->

        <div class="card">
            <img id="cardimg" src="https://maptracker-54ca5.web.app/assets/news-card.png">
            <div class="card-content">
                <p id="date">Nov 18, 2020</p>
                <h2>Application of the convention on administrative assistance</h2>
                <p id="desc">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa
                </p>
                <a href="" id="readmorebtn">Read more ></a>
            </div>
        </div>

    </div>


</div>