<div class="wrapper">


    <div class="header">
        <img id="headerimg" src="../../../assets/images/about-header.20e73a8beed0445241e8.png">

        <div class="headercontent">
            <p id="headerpara">We are here to offer the <b>best currency exchange</b> experience in Pakistan</p>
            <hr id="headerhr">
        </div>

    </div>


    <div class="moneyimg">
        <img src="../../../assets/images/close-up-people-hand-hold-count-the-money-free-photo.jpg" alt="" id="mainimg">
    </div>


    <div class="content">

        <div id="contentheading">
            <h1 style="color:#0a4c94;">Neque joint quisquam is</h1>
            <hr id="contenthr">
        </div>

        <div id="contentparagraphs">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nihil hic, atque unde itaque, minus enim
            architecto laborum reprehenderit ad eligendi quae ut! Accusamus aut aperiam nihil temporibus beatae porro!
            architecto laborum reprehenderit ad eligendi quae ut! Accusamus aut aperiam nihil temporibus beatae porro!
            architecto laborum reprehenderit ad eligendi quae ut! Accusamus aut aperiam nihil temporibus beatae porro!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat mamet consectetur adipisicing elit. Placeat maxime officiis labore tempora tenetur
            excepturi beatae id ex! Aperiam nam dolorum illum dolore, neque a consequatur temamet consectetur adipisicing elit. Placeat maxime officiis labore tempora tenetur
            excepturi beatae id ex! Aperiam nam dolorum illum dolore, neque a consequatur temaxime officiis labore tempora tenetur
            excepturi beatae id ex! Aperiam nam dolorum illum dolore, neque a consequatur tempora libero quo dolor?

        </p>

    </div>


    </div>

</div>