/* You can add global styles to this file, and also import other style files */


:root{

--dark-blue-color: #001634;
--white-color: white;
--green-color: #3acc6c;
--powder-blue-color: aliceblue;
--dull-blue-color:#738dad; 

}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}