<footer>


    <div class="info">

        <div class="section">
            <img src="https://maptracker-54ca5.web.app/assets/Business%20Card%20Logo-01.png" alt="" id="logo">
        </div>

        <div class="section">
            <a routerLink="/about-us">Us</a>
            <a href="">Blog</a>
            <a href="">Aid</a>
            <a href="">Template</a>
        </div>

        <div class="section">
            <h4 style="color: white;">More Information</h4>
            <a href="">Promotions</a>
            <a href="">Set up alerts</a>
            <a href="">Contact us</a>
            <a href="">Referrals</a>
        </div>

        <div class="section">
            <h4 style="color: white;">Legal</h4>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
        </div>

        <div class="contact-section">
<p>GTX. RUC 20231708141</p>
<p>SBS Registration: 00335 - 2020</p>
<p>Av. Jose Larco 1232, Guatemala</p>
        </div>

    </div>

    <hr>

    <p style="color:white; font-weight: 400;">Powered by HIB</p>

</footer>